/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  position: relative; 
  top: 30px; 
  right: 30px; 
  width: 400px; 
  height: 400px;
  background: black;
  color: white; 
  padding: 10px; 
  overflow: hidden;
  overflow-y: auto;
  margin-left: 100px;
}

.smallBox {
  position: absolute; 
  top: 30px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
  background: blue; 
}

.fixedBox {
  position: fixed; 
  top: 30px; 
  right: 10px;
  width: 100px; 
  height: 100px; 
  background: orange; 
}

.content {
  margin-top: 60px;
}

.fixedBox.fixed {
  top: 0; 
} */


/* window scroll */
.fixedBox {
  position: fixed; 
  top: 50px; 
  right: 20px;
  z-index: 1;
  padding: 10px; 
  background: lightseagreen; 
  border-radius: 6px;
  color: #fff;
  border: 1px solid rgb(23, 122, 117);
  text-align: left;
}


.fixedBox.fixed {
  width: 100%; 
  top: 0; 
  right: 0;
  font-size: 22px;
  border-radius: 0;
  text-align: center;
}


* {
  box-sizing: border-box;
}


/* Element scroll */
.box {
  position: relative; 
  top: 30px; 
  right: 30px; 
  width: 400px; 
  height: 400px;
  background: black;
  color: white; 
  overflow: hidden;
  margin-left: 100px;
}

.box .boxInner {
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  overflow-y: auto;
  padding: 10px; 
}

.smallBox {
  position: absolute; 
  top: 50px; 
  right: 40px;
  z-index: 1;
  padding: 10px; 
  background: rgb(236, 97, 218); 
  border-radius: 6px;
  color: #fff;
  border: 1px solid rgb(183, 81, 187);
  text-align: left;
}

.smallBox.fixed {
  width: 100%; 
  top: 0;
  right: 0; 
  border-radius: 0;
  text-align: center;
}


/* .box {
  position: relative; 
  top: 30px; 
  right: 30px; 
  width: 400px; 
  height: 400px;
  background: black;
  color: white; 
  padding: 10px; 
  overflow: hidden;
  overflow-y: auto;
  margin-left: 100px;
}

.smallBox {
  position: absolute; 
  top: 50px; 
  right: 20px;
  z-index: 1;
  padding: 10px; 
  background: rgb(236, 97, 218); 
  border-radius: 6px;
  color: #fff;
  border: 1px solid rgb(183, 81, 187);
  text-align: left;
}

.smallBox.fixed {
  width: 100%; 
  right: 0; 
  border-radius: 0;
  text-align: center;
} */

